#secret app ID
secret.*

#current song info file
current_song_info

#pngs
/images/*.png
/images/dict

#builds
/build/AutoPyToExe Files/Debug Builds
/build/output
/__pycache__
/*/__pycache__
/*/*/__pycache__

#logging
log

#server config and test files
/upload/*.png
/upload/*.jpg
temp.png

#testing files
/.testing